@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальный фикс для полос/оверлеев */
html, body {
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
}

.overlay-fix {
  pointer-events: none; /* чтобы не мешала кликам */
  z-index: -10;         /* всегда под текстом */
}
